{% extends "base.html" %}
{% load static wagtailcore_tags recenze_tag %}



{% block extra_css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
{% endblock extra_css %}



{% block content %}
<div id="main-slider" class="dl-slider">
    {% for block in page.CarouselHlavniStrana %}
    {% include_block block %}
    {% endfor %}
</div>
<section class="promo-section padding">
    <div class="container">
        <div class="row promo-wrap">
            {% for block in page.KartyHlavniStrana %}
            {% include_block block %}
            {% endfor %}
        </div>
    </div>
</section>
{% for block in page.SluzbyHlavniStrana %}
{% include_block block %}
{% endfor %}
<section class="counter-section padding">
    <div class="container">
        <div class="row counter-wrap">
            {% for block in page.PocitadlaHlavniStrana %}
            {% include_block block %}
            {% endfor %}
        </div>
    </div>
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Vaše recenze</h1>
                <div class="rate">
                    <input type="radio" id="star5" name="rate" onclick="rate(5)" value="5"/>
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" onclick="rate(4)" value="4"/>
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" onclick="rate(3)" value="3"/>
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" onclick="rate(2)" value="2"/>
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" onclick="rate(1)" value="1"/>
                    <label for="star1" title="text">1 star</label>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <form action="{% pageurl page %}" method="POST">

                <div class="modal-body">

                    {% csrf_token %}
                    {{ RecenzeFormular.as_p }}
                    <div class="alert alert-primary" role="alert">
                        V rámci udržování pravdivých údajů bude Vaše recenze viditelná po schválení moderátorem.
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zavřít</button>
                    <button type="submit" class="btn btn-primary">Poslat</button>

                </div>
            </form>
        </div>
    </div>
</div>

<section class="testimonial-section bg-grey padding">
    <div class="dots"></div>
    <div class="container">
        <div class="section-heading text-center mb-40 wow fadeInUp" data-wow-delay="100ms">
            <h2>Uživatelské recenze</h2>
            <button data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-warning" type="button">
                Napsat recenzi
            </button>
        </div>
        <div id="testimonial-carousel" class="testimonial-carousel box-shadow owl-carousel">
            {% RecenzeTag %}
        </div>
    </div>
</section>

<style type="text/css">
    *{
        margin: 0;
        padding: 0;
    }
    .rate {
        float: left;
        height: 46px;
        padding: 0 10px;
    }
    .rate:not(:checked) > input {
        position:absolute;
        top:-9999px;
    }
    .rate:not(:checked) > label {
        float:right;
        width:1em;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:30px;
        color:#ccc;
    }
    .rate:not(:checked) > label:before {
        content: '★ ';
    }
    .rate > input:checked ~ label {
        color: #ffc700;
    }
    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
        color: #deb217;
    }
    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
        color: #c59b08;
    }

    /* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */
</style>
{% endblock content %}

{% block extra_js %}
<script>
    const rate = (rating) => {
        for (let i = 1; i < 6; i++) {
            document.getElementById("star"+i).classList.remove('checked');
        }
        for (let i = 1; i < rating+1; i++) {
            document.getElementById("star"+i).className += " checked";
            document.getElementById("pocetHvezdicek").value = rating;
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
{% endblock extra_js %}
