{% extends 'kontakt/kontakt_page.html' %}
{% block landing %}
<script>
  document.getElementById("submit").style.display = "none";
</script>
<div class="w3-container w3-center w3-animate-top">
    <div class="ml-5 container">
        <div class="col-md-5 padding-15">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 130.2 130.2">
                <circle class="path circle" fill="none" stroke="#73AF55" stroke-width="6" stroke-miterlimit="10"
                        cx="65.1"
                        cy="65.1" r="62.1"/>
                <polyline class="path check" fill="none" stroke="#73AF55" stroke-width="6" stroke-linecap="round"
                          stroke-miterlimit="10" points="100.2,40.2 51.5,88.8 29.8,67.5 "/>
            </svg>
            <h2 class="mt-3" style="color:#73AF55;text-align:center;">Odesláno</h2>
        </div>
    </div>
</div>
{% endblock landing %}