{% extends 'base.html' %}
{% load wagtailcore_tags static %}
{% block extra_css %}
<script src="https://kit.fontawesome.com/01113c8856.js" crossorigin="anonymous"></script>
{% endblock extra_css %}


{% block content %}
<div class="mapouter">
    <div class="gmap_canvas">
        <iframe width="100%" height="350" id="gmap_canvas"
                src="{{self.bod_na_mape}}"
                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
        <a href="https://www.emojilib.com/"></a></div>
    <style>
        .mapouter{position:relative;text-align:right;height:350px;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:350px;width:100%;}


    </style>
</div>

<section class="contact-section bg-grey padding">
    <div class="dots"></div>
    <div class="container">

        <div class="contact-wrap d-flex  row">
            <div class="col-md-7 padding-15">
                <div class="contact-info">
                    <h2>Kontaktní informace</h2>
                    <div class="mb-5 pt-3">

                        <div class="row">
                            <i class="fa-solid fa-phone mr-2"></i>
                            <p> {% if page.tel_cislo %} {{page.tel_cislo}} {% else %}
                                {{settings.site_settings.ObecneInformaceNastaveni.tel_cislo}} {% endif %}</p>
                        </div>
                        <div class="row">
                            <i class="fa-solid fa-envelope mr-2"></i>
                            <p> {% if page.email %} {{page.email}} {% else %}
                                {{settings.site_settings.ObecneInformaceNastaveni.email}} {% endif %} </p>
                        </div>
                        <div class="row">
                            <i class="fa-solid fa-location-pin mr-2"></i>
                            <p class="display-5"> {% if page.address %} {{page.address}} {% else %}
                                {{settings.site_settings.ObecneInformaceNastaveni.adresa}} {% endif %}</p>
                        </div>
                    </div>

                    {{self.uvodni_text|richtext}}
                </div>
            </div>
            <div class="col-md-5 padding-15">
                <div class="contact-form">
                    <form action="{% pageurl page %}" method="post" id="ajax_form"
                          class="form-horizontal">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="form-group row">
                            <div class="col-md-12">
                                {{field}}
                            </div>
                        </div>
                        {% endfor %}
                        <div class="form-group row">
                            <div class="col-md-12">
                                <button id="submit" class="default-btn" type="submit">Odeslat</button>
                            </div>
                        </div>
                        <div id="form-messages" class="alert" role="alert"></div>
                    </form>
                    {% block landing %}
                    {% endblock landing %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}