{% extends 'base.html' %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}


{% block content %}
{% image page.uvodni_obrazek original as img %}
<section class="widget-section padding">
    <div class="container">
        <div class="page-content text-center">
            <h2>{{page.nazev}}</h2>
        </div>
    </div>
</section>

<section class="blog-section padding">
    <div class="container">
        <div class="blog-wrap row">
            <div class="col-lg-8 padding-15">
                <div class="blog-single-wrap">
                    <div class="blog-thumb">
                        <img src="{{img.url}}" alt="img">
                    </div>
                    <div class="blog-single-content">
                        <h2>{{page.nadpis}}</h2>
                        <ul class="single-post-meta">
                            <li><i class="fa fa-user"></i> <a href="#">{{page.autori.first}}</a></li>
                            <li><i class="fa fa-calendar"></i> <a href="#">{{page.datum}}</a></li>
                        </ul>
                        {{page.popis|richtext}}

                        {% for block in page.obsah %}
                            {% include_block block %}
                        {% endfor %}

                        <ul class="post-tags">
                            {% for kat in page.kategorie.all %}
                            <li><a href="{{parent.url}}?c={{kat.slug}}">{{kat}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 padding-15 mt-5">
                <div class="sidebar-wrap">
                    <div class="widget-content">
                        <h4>Další stavby</h4>
                        <ul class="thumb-post">
                            {% for stavba in ostatni_stavby %}
                            {% image stavba.uvodni_obrazek original as img %}
                            <li><img src="{{img.url}}" alt="post"><a href="{{stavba.url}}">{{stavba.nazev}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="widget-content">
                        <h4>Všechny kategorie</h4>
                        <ul class="tags">
                            {% for kat in vsechny_karegorie %}
                            <li><a href="{{parent.url}}?c={{kat.slug}}">{{kat}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}