{% extends 'base.html' %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block content %}
<a href="{{page.url}}">
    <section class="page-header padding">
        <div class="container">
            <div class="page-content text-center">
                <h2>{{page.vlastni_titulek}}</h2>


            </div>
        </div>
    </section>
</a>
<section class="blog-section padding">
    <div class="container">
        <div class="blog-wrap row">
            <div class="col-lg-8 sm-padding">
                <div class="row">
                    {% for stavba in stavby %}
                    <div class="col-lg-12 padding-15">
                        <div class="blog-item box-shadow">
                            <div class="blog-thumb">
                                {% image stavba.uvodni_obrazek original as img %}
                                <a href="{{stavba.url}}">
                                    <img src="{{img.url}}" alt="image">
                                </a>
                                <span class="category"><a href="{{page.url}}?c={{stavba.kategorie.first.slug}}">{{stavba.kategorie.first}}</a></span>
                            </div>
                            <div class="blog-content">
                                <h3><a href="{{stavba.url}}">{{stavba.nazev}}</a></h3>
                                {{stavba.popis|richtext|truncatechars:125}}
                                <a href="{{stavba.url}}" class="read-more">Celý příspěvek</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% if stavby.paginator.num_pages > 1 %}
                <ul class="pagination-wrap text-left mt-30">
                    {% if stavby.has_previous %}
                    <li><a href="?strana={{ stavby.previous_page_number}}"><i class="ti-arrow-left"></i></a></li>
                    {% endif %}
                    {% for page_num in stavby.paginator.page_range %}
                    <li><a class="{% if page_num == stavby.number %} active {% endif %}" href="?strana={{page_num}}">{{page_num}}</a>
                    </li>
                    {% endfor %}
                    {% if stavby.has_next %}
                    <li><a href="?strana={{ stavby.next_page_number }}"><i class="ti-arrow-right"></i></a></li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>
            <div class="col-lg-4 padding-15">
                <div class="sidebar-wrap">
                    {% if filtr %}
                    <a href="{{page.url}}">
                    <div class="alert alert-warning" role="alert">
                        Vidíte pouze příspěvky označené jako <b>{{filtr}}</b>.
                    </div>
                    </a>
                    {% endif %}
                    <div class="widget-content">
                        <h4>Kategorie</h4>
                        <ul class="widget-links">
                            {% for cat in kategorie %}
                            <li><a href="{{page.url}}?c={{cat.slug}}">{{cat}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}