{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% include 'wagtail_photo_gallery/extra_css.html' %}
{% endblock %}

{% block content %}

<style>
/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
}

.gallery-image {
    flex: 1;
    max-height: 250px;
    max-width: 300px;
    margin: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 80vw;
  max-height: 80vh;
  overflow: auto;
  box-sizing: border-box;
}
.modal-navigator {
    font-weight: 900;
    position: fixed;
    bottom: 50px;
    font-size: 50px;
    z-index:1;
    left:50%;
    display: none;
    gap: 150px;
    align-items:center;
    left: 50%;
    transform: translate(-50%, -50%);
}
.m-navigator-arrow {
    flex: 1;
}

.m-navigator-arrow:focus {
    user-select: none;
}

</style>
<script>
    var imgs = 0;
</script>
{% if album.is_visible %}
    <div id="myModal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="img01">
      <div id="caption"></div>
      <div id="modal-nav" class="modal-navigator">
        <span class="m-navigator-arrow" onclick="switcher('prev')">‹</span>
        <span class="m-navigator-arrow" onclick="switcher('next')">›</span>
      </div>
    </div>
<div class="container mt-5 mb-3">


    <section>
        <h2 class="mb-5">Album {{album.title}}</h2>
        <div class="image-container">
            {% for item in images %}
            <img id="myImg{{ forloop.counter }}" onclick="OpenImage('{{item.image.url}}', '{{ forloop.counter }}')" class="gallery-image" src="{{ item.image.url }}" alt="">
            <script>
                imgs = imgs+1;
            </script>
            {% endfor %}

        </div>
        <div class="text-center">
            <a href="{{page.url}}" class="default-btn mt-5">Zpět</a>
        </div>
    </section>



</div>
{% else %}
<h3>This album is temporarily unavailable.</h3>
{% endif %}
<script>
    function targeter(num, operator) {
        num=parseInt(num);
        var val = 0;
        if (operator == "next") {
            if (num == imgs) {
                val = 1;
            } else if (num < imgs) {
                val = num + 1;
            }
        }
        else {
            if (num == 1) {
                val = imgs;
            } else if (num > 1) {
                val = num - 1;
            }
        }
        return val;
    }

    var currimg = 0;
    var modal = document.getElementById("myModal");
    var modalnav = document.getElementById("modal-nav");
    var modalImg = document.getElementById("img01");
    var span = document.getElementsByClassName("close")[0];


    function switcher(operation) {
        var target = targeter(currimg, operation);
        var img = document.getElementById("myImg"+target);
        modalImg.src = img.src;
        currimg = target;
    }

    function OpenImage(url, img) {
        modal.style.display = "block";
        modalnav.style.display = "flex";
        modalImg.src = url;
        currimg = img;
    }
    span.onclick = function() {
      modal.style.display = "none";
      modalnav.style.display = "none";
      document.body.classList.add('overflow-auto');

    }

    document.addEventListener('keydown', function(event) {
      if (event.key === 'ArrowLeft' && modal.style.display == "block") {
        switcher('prev')
      }
      if (event.key === 'ArrowRight' && modal.style.display == "block") {
        switcher('next')
      }
      if (event.key === 'Escape' && modal.style.display == "block") {
        modal.style.display = "none";
        document.body.classList.add('overflow-auto');
      }
    });

    window.onload = function () {

        var nav = document.getElementsByClassName("sticky-header")[0];
        nav.style.display = "none";

    }

</script>
{% endblock content %}

























