{% load wagtailimages_tags %}
{% for slide in self.slides %}
{% image slide.image original as img %}
<div class="single-slide">
    <div class="bg-img kenburns-top-right" style="background-image: url('{{img.url}}');"></div>
    <div class="overlay"></div>
    <div class="slider-content-wrap d-flex align-items-center text-center">
        <div class="container">
            <div class="slider-content">
                <div class="dl-caption medium">
                    <div class="inner-layer">
                        <div data-animation="fade-in-top" data-delay="1s">{% if slide.nazevFirmy %}{{slide.nazevFirmy}}{% else %}{{settings.site_settings.ObecneInformaceNastaveni.nazev_stranky}}{% endif %}</div>
                    </div>
                </div>
                <div class="dl-caption big">
                    <div class="inner-layer">
                        <div data-animation="fade-in-bottom" data-delay="2s">{{slide.nadpisPrvni}}</div>
                    </div>
                </div>
                <div class="dl-caption big">
                    <div class="inner-layer">
                        <div data-animation="fade-in-bottom" data-delay="2.5s">{{slide.nadpisDruhy}}</div>
                    </div>
                </div>
                <div class="dl-caption small">
                    <div class="inner-layer">
                        <div data-animation="fade-in-bottom" data-delay="3s">
                            {{slide.text}}
                        </div>
                    </div>
                </div>
                <div class="dl-btn-group">
                    <div class="inner-layer">
                        <a href="{{slide.odkazTlacitka.url}}" class="dl-btn" data-animation="fade-in-bottom" data-delay="3.5s">
                            {{slide.textTlacitka }}<i class="arrow_right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

