
            {% for counter in self.pocitadla %}
            <div class="col-lg-3 col-sm-6 padding-15">
                <div class="counter-content wow fadeInUp" data-wow-delay="{{forloop.counter}}00ms">
                    <div class="counter"><span class="odometer" data-count="{{counter.cislo}}">00</span></div>
                    <h4>{{counter.text}}</h4>
                </div>
            </div>
            {% endfor %}
