

{% for album in albums %}
<div class="dlab-divider bg-gray-dark"><i class="icon-dot c-square"></i></div>
<div class="row pt-3 pb-3">
    <div class="col-4">
        {% if album.cover.thumb or album.images.first %}
        <img src="{{ album.cover.thumb.url | default:album.images.first.thumb.url }}" class="img-fluid" alt="{{ album.title }}">
        {% endif %}
    </div>
    <div class="col-8">
        <h2>{{ album.title }}</h2>
        <p>{{ album.description }}</p>
        <a href="{{ detail_url }}{{ album.slug }}"><button class="default-btn" type="button">Prohlédnout celé album</button></a>
    </div>
</div>
<div class="dlab-divider bg-gray-dark"><i class="icon-dot c-square"></i></div>
{% endfor %}
    




