<!--  Ikony
flaticon-factory
<i class="flaticon-worker"></i>
<i class="flaticon-gear"></i>
<i class="flaticon-worker-1"></i>
-->

            {% for karta in self.karty %}
            <div class="col-lg-3 col-sm-6 sm-padding">
                <div class="promo-item box-shadow text-center wow fadeInUp" data-wow-delay="{{forloop.counter}}00ms">
                    <i class="{{karta.ikona}}"></i>
                    <h3>{{karta.titul}}</h3>
                    <p>{{karta.text}}</p>
                </div>
            </div>
            {% endfor %}

