<section class="service-section section-2 bg-grey padding">
    <div class="dots"></div>
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6 sm-padding">
                <div class="service-content wow fadeInLeft">
                    <h2>{% if self.titul %}{{self.titul}}{% else %}{{settings.site_settings.ObecneInformaceNastaveni.nazev_stranky}}{% endif %} </h2>
                    {{self.text}}
                    <a href="{{self.btnOdkaz.url}}" class="default-btn">{{self.btnText}}</a>
                </div>
            </div>
            <div class="col-lg-6 sm-padding">
                <div class="row services-list">
                    {% for karta in self.karty %}
                    <div class="col-md-6 padding-15 {% if forloop.counter|divisibleby:2 %} offset-top {% endif %}">
                        <div class="service-item box-shadow wow fadeInUp" data-wow-delay="{{forloop.counter}}00ms">
                            <i class="{{karta.ikona}}"></i>
                            <h3>{{karta.titul}}</h3>
                            <p>{{karta.text}}</p>
                        </div>
                    </div>
                    {% endfor %}
                    <!--
                    flaticon-loader
                    flaticon-tanks
                    flaticon-refinery
                    flaticon-control-system  -->
                </div>
            </div>
        </div>
    </div>
</section>