{% extends "base.html" %}
{% load static %}

{% block title %}Stránka nenalezena{% endblock %}

{% block body_class %}template-404{% endblock %}

{% block content %}
<section class="error-section padding">
    <div class="container">
        <div class="error-content text-center">
            <img src="{% static 'img/404.png' %}" alt="img">
            <div class="error-info">
                <h2>404</h2>
                <P>Tuto stránku zde nemáme :( <br> ale můžete se vrátit  <br> <a href="/"> na Hlavní stránku </a></P>
            </div>
        </div>
    </div>
</section>
{% endblock %}
