{% load static wagtailcore_tags wagtailuserbar menu_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8"/>
    <title>
        {% block title %}
        {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
        {% endblock %}
        {% block title_suffix %}
        {% wagtail_site as current_site %}
        {% if current_site and current_site.site_name %}- {{ current_site.site_name }}{% endif %}
        {% endblock %}
    </title>
    {% if page.search_description %}
    <meta name="description" content="{{ page.search_description }}"/>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    {# Force all links in the live preview panel to be opened in a new tab #}
    {% if request.in_preview_panel %}
    <base target="_blank">
    {% endif %}

    {% block extra_css %}
    {# Override this in templates to add extra stylesheets #}
    {% endblock %}


    {# Global stylesheets #}
    <link rel="stylesheet" type="text/css" href="{% static 'css/AlesMates.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css'%}">
    <link rel="stylesheet" href="{% static 'css/elegant-line-icons.css'%}">
    <link rel="stylesheet" href="{% static 'css/elegant-font-icons.css'%}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css'%}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/slick.css'%}">
    <link rel="stylesheet" href="{% static 'css/slider.css'%}">
    <link rel="stylesheet" href="{% static 'css/odometer.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/venobox/venobox.css'%}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.css'%}">
    <link rel="stylesheet" href="{% static 'css/main.css'%}">

    <link rel="stylesheet" href="{% static 'css/responsive.css'%}">
    <script src="{% static 'js/vendor/modernizr-2.8.3-respond-1.4.2.min.js'%}"></script>



</head>
<style>
a{
text-decoration:none;
}



</style>
<body class="{% block body_class %}{% endblock %}">
{% wagtailuserbar %}
<div class="site-preloader-wrap">
    <div class="spinner"></div>
</div>

<header id="header" class="header">
    <div class="primary-header">
        <div class="container">
            <div class="primary-header-inner">
                <div class="header-logo">
                    <a href="/"><img style="max-height:70px; padding:0.1rem;" src="{% static 'building.png' %}"
                                     alt="{% static 'img/logo.png' %}"></a>
                </div>
                <div class="header-menu-wrap">
                    <ul class="dl-menu">
                        {% main_menu template="menu/main_menu.html" %}
                    </ul>
                </div>
                <div class="header-right">
                    <a class="menu-btn" href="/kontakt">Zeptat se</a>
                    <div class="mobile-menu-icon">
                        <div class="burger-menu">
                            <div class="line-menu line-half first-line"></div>
                            <div class="line-menu"></div>
                            <div class="line-menu line-half last-line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% block content %}{% endblock %}
<section class="widget-section padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-6 sm-padding">
                <div class="widget-content">
                    <h4>Informace</h4>
                    <p>{{settings.site_settings.ObecneInformaceNastaveni.popis_footer}}</p>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 text-center sm-padding">
                <div class="widget-content">
                    <h4>Odkazy</h4>
                    <ul class="widget-links">
                        {% flat_menu "footer" template="menu/footer.html" %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<a data-scroll href="#header" id="scroll-to-top"><i class="arrow_carrot-up"></i></a>
{# Global javascript #}
<script type="text/javascript" src="{% static 'js/AlesMates.js' %}"></script>

<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<!-- ???-->
<script src="{% static 'js/vendor/jquery-1.12.4.min.js'%}"></script>

<script src="{% static 'js/vendor/bootstrap.min.js'%}"></script>

<script src="{% static 'js/vendor/tether.min.js'%}"></script>

<script src="{% static 'js/vendor/headroom.min.js'%}"></script>

<script src="{% static 'js/vendor/owl.carousel.min.js'%}"></script>

<script src="{% static 'js/vendor/smooth-scroll.min.js'%}"></script>

<script src="{% static 'js/vendor/venobox.min.js'%}"></script>

<script src="{% static 'js/vendor/jquery.ajaxchimp.min.js'%}"></script>

<script src="{% static 'js/vendor/slick.min.js'%}"></script>

<script src="{% static 'js/vendor/waypoints.min.js'%}"></script>

<script src="{% static 'js/vendor/odometer.min.js'%}"></script>

<script src="{% static 'js/vendor/wow.min.js'%}"></script>

<script src="{% static 'js/main.js'%}"></script>
{% block extra_js %}
{# Override this in templates to add extra javascript #}
{% endblock %}
</body>
</html>
