{% load recenze_tag %}
{% for recenze in vsechny_recenze %}
{% if recenze.platnost %}
<div class="testi-item d-flex align-items-center">
<div class="testi-content">
<p>{{recenze.text}}</p>
<h3>{{recenze.jmeno}}</h3>
<ul class="rattings">
    {% if recenze.hodnoceni >= 1 %}
    <li><i class="fa fa-star"></i></li>
    {% endif %}
    {% if recenze.hodnoceni >= 2 %}
    <li><i class="fa fa-star"></i></li>
    {% endif %}
    {% if recenze.hodnoceni >= 3 %}
    <li><i class="fa fa-star"></i></li>
    {% endif %}
    {% if recenze.hodnoceni >= 4 %}
    <li><i class="fa fa-star"></i></li>
    {% endif %}
    {% if recenze.hodnoceni >= 5 %}
    <li><i class="fa fa-star"></i></li>
    {% endif %}

</ul>
</div>
<i class="fa fa-quote-right"></i>
</div>
{% endif %}
{% endfor %}